.todo-page-container {
  background-color: aquamarine;
  display: flex;
  align-content: center;
}

.todo-list-container {
  width: 75%;

}
.completed {
  text-decoration: line-through;
}

.uncompleted {
  text-decoration: none;
}