@import url("https://fonts.googleapis.com/css?family=Orbitron");

.clockContainer {
  background-color: white;
}

.clock-p {
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
  color: black;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  /* text-shadow: 10px 5px 10px rgb(155, 63, 242); */
  /* text-shadow: 10px 10px 10px rgb(155, 63, 242); */
  animation-name: blur-text;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.clock-container {
  width: 20rem;
  height: 20rem;
  border:20px solid rgba(155, 63, 242, 0.5);
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  /* box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #EFEFEF,
  inset 0 0 10px black,
  0 0 10px rgba(0,0,0,0.2); */
  animation-name: blur-box;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
  /* animation-name: blur-box;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

/* .hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.32, 0.2, 1.35);
  animation-name: blur;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

.hourhand {
  width: 50%;
  height: 4px;
  background: rgb(155, 63, 242);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.32, 0.2, 1.35);
  animation-name: blur-box;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.minhand {
  width: 50%;
  height: 4px;
  background: rgb(155, 63, 242);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.32, 0.2, 1.35);
  animation-name: blur-box;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.secondhand {
  width: 50%;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.32, 0.2, 1.35);
  animation-name: blur-box;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blur-text {
  from { text-shadow: 10px 2px 30px rgb(155, 63, 242);
  }

  to { text-shadow: 10px 2px 5px rgb(155, 63, 242);
  }
}

@keyframes blur-box {
  from { box-shadow: 10px 2px 30px rgb(195, 103, 255);
  }

  to { box-shadow: 10px 2px 5px rgb(155, 63, 242);
  }
}