.weatherContainer {
  background-color: rgba(255, 255, 255, 0.781);
  /* display: flex;
  flex-direction: row; */
  /* border: 5px solid black; */
}
  
.card-weather {
  border: 5px solid black;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 10em;
  padding: 1em;
}
 
.card-location {

}

.card-description {
  /* border: 1px solid black; */
  margin: auto;
}

.card-temp {
  /* border: 1px solid blue; */
  padding-top: 0.7em;
  margin: auto;
}

.weather-img {
  width: 5em;
  height: auto;
  margin: auto;
  /* border: 1px solid green; */
}

/* .card-date {

} */