@import "https://fonts.googleapis.com/css?family=Indie+Flower";
@import "https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower|Source+Sans+Pro";

.page-container {
  /* border: 2px solid red; */
  /* background-color: aquamarine; */
  display: flex;
  text-align: center;
  flex-direction: column;
  height: auto;
  padding-top: 3em;
  width: 30vw;
  font-family: 'Quattrocento', serif;
  background-color: #43A8EC;
}

.todo-h1 {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  padding-top: 1em;
}

.todo-list-container {
  /* border: 1px solid green; */
  margin: auto;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  align-content: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-family: 'Indie Flower', cursive;
  background-color: #43A8EC;
  /* box-shadow: 0 10px 6px -6px #777; */

}
 .input-box{
  height: auto;
  width: 100%;
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
  color: black;
  margin-top: 1em;
  border: none;
  border-radius: 0;
  border-top: 2px solid black
}

.input-box:focus {
  /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  outline: none;
  border: none;
  border-top: 2px solid black;
  transition: 0.3s;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: rgb(39, 170, 206);
  height: auto;
  font-size: 1.4em;
  color: white;
  border: 1px solid grey;
  background-color: rgb(0, 0, 0);
  margin-top: 1em;
  border-radius: 2px;
  width: 100%;
  transition: 0.3s;
}

.uncompleted {
  background-color: white;
  text-decoration: none;
  height: auto;
  font-size: 1.4em;
  border: 1px solid grey;
  margin-top: 1em;
  border-radius: 2px;
  word-wrap: break-word;
  width: 100%;
  transition: 0.3s;
}

.completed:hover {
  box-shadow: 0 0 11px rgb(49, 124, 145);
  transform: translateY(-0.10em);
}

.uncompleted:hover {
  box-shadow: 0 0 11px rgb(38, 95, 111);
  transform: translateY(-0.20em);
}

.close {
  padding-right: 5px;
}

.close:hover {
  color: red;
}

.close-hide {
  display: none;
}