@import "https://fonts.googleapis.com/css?family=Indie+Flower";
@import "https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower|Source+Sans+Pro";

.todo-page-container {
  border: 2px solid red;;
  /* background-color: aquamarine; */
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  padding-top: 3em;
  font-family: 'Source Sans Pro', sans-serif;
}

.todo-h1 {
  font-size: 2em;
}


.todo-list-container {
  margin: auto;
  justify-content: center;
  /* align-content: center; */
  /* text-align: center; */
  /* width: 75%; */
  vertical-align: middle;
  height: 100%;
  width: 30%;
  font-family: 'Indie Flower', cursive;
}
 .input-box{
  height: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  /* border: 1px solid grey; */
  margin-top: 1em;
  border-radius: 5px;
  /* width: 25%; */
  /* transition: 0.3s; */
}

.input-box:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid rgba(81, 203, 238, 1);
  transition: 0.3s;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: rgb(39, 170, 206);
  height: auto;
  font-size: 1.2em;
  border: 1px solid grey;
  margin-top: 1em;
  border-radius: 5px;
  /* width: 25%; */
  transition: 0.3s;
}

.uncompleted {
  text-decoration: none;
  height: auto;
  font-size: 1.2em;
  border: 1px solid grey;
  margin-top: 1em;
  border-radius: 5px;
  word-wrap: break-word;
  width: auto;
  transition: 0.3s;
}


.uncompleted:hover {
  box-shadow: 0 0 11px rgba(81, 203, 238, 1);
  transform: translateY(-0.25em);
}