@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.headers-box {
  font-family: 'Poiret One', cursive;
  color: rgb(17, 46, 60);
  /* color: rgb(255, 248, 240); */
  padding: 1em;
  background-color: rgb(255, 248, 240);
  /* border: 2px solid rgb(35, 61, 77); */
}

.landing-h1 {
  font-size: 5em;
  font-weight: bold;
}

.landing-h3 {
  font-size: 3em;
  font-weight: bold;
  text-align: right;
} 

.parallax {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(guillaume-lebelt-209642-unsplash.jpg);
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.parallax2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(guillaume-lebelt-209642-unsplash.jpg);
  min-height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url(guillaume-lebelt-209642-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.nav-links {
  /* border: 2px solid green; */
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
  font-weight: bold;
  width: 100vw;
  background-color: rgb(252, 196, 93);
  height: 3em;
  border-bottom: 2px solid rgb(35, 61, 77);
}


.landing-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 94vh;
}

.about-section {
  border-top: 10px solid rgb(252, 196, 93);
  border-bottom: 10px solid rgb(252, 196, 93);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color:rgb(17 46 60);
  height: auto;
}

.ga-projects-section {
  border-top: 10px solid rgb(252, 196, 93);
  border-bottom: 10px solid rgb(252, 196, 93);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color:rgb(17 46 60);
  height: auto;
}

.ga-headers-box {
  padding-left: 2em;
  padding-top: 1em;
  padding-right: 2em;
}

.ga-h1 {
  font-family: 'Poiret One', cursive;
  color: rgb(250, 248, 233);
  font-weight: 600;
  font-size: 4em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid white;
  padding-bottom: 0.5em;
}

.ga-h3 {
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 248, 240);
  margin-bottom: 2em;
}

.ga-img-section {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 3em;
}

.ga-project-img {
  border: 2px solid black;
  opacity: 0.4;
  width: 32rem;
  height: 30rem;
  margin: 1em 0 1em 0;
  transition: 0.3s
}

.ga-project-img:hover {
  opacity: 1;
  width: 32rem;
  height: 30rem;
  margin: 1em 0 1em 0;
}

.react-projects-section {
  border-top: 10px solid rgb(252, 196, 93);
  border-bottom: 10px solid rgb(252, 196, 93);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color:rgb(17, 46, 60);
  height: auto;
}

.contact-section {
  border-top: 10px solid rgb(252, 196, 93);
  border-bottom: 10px solid rgb(252, 196, 93);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color:rgb(17 46 60);
  height: auto;
}

.homepage-footer {
  background-color: rgb(252, 196, 93);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
  
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 248, 240);
  margin-bottom: 2em;
}

.h3-footer {
  margin-left: 5em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.p-footer {
  font-size: 1em;
  margin-left: 5em;
  right: 0;
  padding-right: 1em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}


@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
  .parallax2 {
    background-attachment: scroll;
  }
}