
.parallax {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(trianglify2.png);
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.parallax2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(trianglify2.png);
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url(trianglify2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.nav-links {
  border: 2px solid green;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
  /* background-color: #929696; */
}


.landing-section{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 94vh;
}

.ga-projects-section {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.ga-img-section {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.ga-project-img {
  border: 2px solid black;
  width: 22rem;
  height:20rem;
  margin: 1em 0 1em 0;
}

.react-projects-section {
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
}
