.synth-container{
  /* border: 2px solid red;; */
  /* background-color: aquamarine; */
  display: flex;
  text-align: center;
	flex-direction: column;
	margin: auto;
  height: 100%;
	font-family: 'Quattrocento', serif;
}

.particles-div {
	align-content: center;
	width: 80%;
	margin: auto;
	/* margin-left: 20%;
	margin-right: 20%; */
	border: 5px solid white;
	/* padding-left: 20%; */
}

.note-button {
  -moz-box-shadow:inset 0px -3px 7px 0px #fafafa;
	-webkit-box-shadow:inset 0px -3px 7px 0px #fafafa;
	box-shadow:inset 0px -3px 7px 0px #fafafa;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/* border:1px solid #000000; */
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family: 'Quattrocento', serif;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.noteButton:hover {
	background-color:transparent;
}

.noteButton:active {
	position:relative;
	top:1px;
}

/* .particles-box{
	background-color: aquamarine;
} */