.synth-container{
  /* border: 2px solid green; */
  /* background-color: aquamarine; */
  display: flex;
  text-align: center;
	flex-direction: column;
	margin: auto;
	height: auto;
	margin-top: -10px;
}

.synth-header {
	font-family: 'Poiret One', cursive;
  color: rgb(250, 248, 233);
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid rgb(255, 248, 240);
  padding-bottom: 0.5em;
}

.note-button {
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	color: rgb(255, 248, 240);
	border: 2px solid rgb(255, 248, 240);
	border-radius:3px;
	width: 3em;
	margin: 0 0.2em 0 0.2em;
	font-size: 1.2em;
	transition: 0.3s;
}

.note-button:hover {
	background-color: rgb(255, 248, 240);
	color: black;
}

.stop-btn {
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	color: rgb(255, 248, 240);
	border: 2px solid rgb(255, 248, 240);
	border-radius:3px;
	width: auto;
	margin: 0 0.2em 0 0.2em;
	font-size: 1.2em;
	transition: 0.3s;
}

.stop-btn:hover {
	background-color: rgb(255, 248, 240);
	color: black;
}

/* .noteButton:active {
	position:relative;
	top:1px;
} */

.particles-div {
	align-content: center;
	width: 100%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	/* margin-left: 20%;
	margin-right: 20%; */
	/* border: 5px solid white; */
	/* padding-left: 20%; */
}

.particles-box{
	background-color: white;
}
